# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - run: ls src/AvaloniaSDR
    - name: List repo files
      run: ls -R
    - name: Restore dependencies
      run: dotnet restore src/AvaloniaSDR/AvaloniaSDR.sln
    
    - name: Build
      run: dotnet build src/AvaloniaSDR/AvaloniaSDR.sln --configuration Release --no-restore
    
